.home__banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  height: 55%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}

.banner__fadeBottom {
  position: absolute;
  height: 11.6rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__title {
  color: white;
}

.banner__overview {
  width: 55%;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 7rem;
}

.welcome__message {
  color: white;
}
